{% extends 'root.html' %}
{% load static %}

{% block title %}
Apply-for-loan
{% endblock %}

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <a href="#addnew" data-toggle="modal" class="btn btn-success btn-sm btn-flat">
            <i class="fa fa-plus"></i> Apply for loan
          </a>
        </div>
        <div class="box-body">
          <table id="example1" class="table table-bordered table-hover table-striped">
            <thead style="background-color: #222D32; color:white;">
              <th>Date of application</th>
              <th>Full Name </th>
              <th>Period</th>
              <th>interest rate/PM</th>
              <th>Borrowed amount</th>
              <th>Status</th>
              <th>Total to return amount</th>
              <th>Pay Loan</th>
            </thead>
            <tbody>
              {% for contribution in member_loans   %}
              <tr>
                <td>{{contribution.date_applied}}</td>
                <td>{{ contribution.member.user.first_name }}  {{ contribution.member.user.last_name }}</td>
                <td>{{ contribution.duration_months}}</td>
                <td>{{ contribution.groups.loan_interest_rate}}%</td>
                <td>{{ contribution.amount }}Ksh</td>
                <td>{{contribution.get_loan_status_display}}</td>
                <td>{{ total_amount_to_return }} Ksh</td>
                <td>
                 <button type="submit" class="btn btn-sm btn-primary">PROCEED TO BILLING</button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block modal %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><b>Add your Loan information</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'apply_loans' groups.id %}">
          {% csrf_token %}
          <div class="modal-body">
            {% for field in form %}
            <div class="form-group has-feedback">
              <span class="text-danger">{{ field.errors }}</span>
              {{ field.label_tag }}
              {{ field }}
            </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal">
              <i class="fa fa-close"></i> Close
            </button>
             <button type="submit" class="btn btn-success btn-flat" name="add"><i class="fa fa-save"></i> Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

