{% extends 'root.html' %}
{% load static %}

{% block title %}
Contribution_list
{% endblock %}

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

{% block content %}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header with-border">
          <a href="#addnew" data-toggle="modal" class="btn btn-success btn-sm btn-flat">
            <i class="fa fa-plus"></i> Add Contributions
          </a>
        </div>
        <div class="box-body">
          <table id="example1" class="table table-bordered table-hover table-striped">
            <thead style="background-color: #222D32; color:white;">
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Category</th>
              <th>Total amount</th>
            </thead>
            <tbody>
              {% for contribution in member_contributions %}
              <tr>
                <td>{{ contribution.member.user.first_name }}</td>
                <td>{{ contribution.member.user.last_name }}</td>
                <td>{{ contribution.member.user.email }}</td>
                <td>{{ contribution.categories }}</td>
                <td>{{ contribution.total_contribution|default:"0"|floatformat:0 }} Ksh</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}

{% block modal %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><b>Add Amount</b></h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="modal-body">
            {% for field in contribution_form %}
            <div class="form-group has-feedback">
              <span class="text-danger">{{ field.errors }}</span>
              {{ field.label_tag }}
              {{ field }}
            </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal">
              <i class="fa fa-close"></i> Close
            </button>
            <div class="mb-8">
              <!-- Use a regular button for form submission -->
               <button type="submit" class="btn btn-primary">PROCEED TO BILLING</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock modal %}

