{% extends 'root.html' %}
{%load static%}
{% block title%}
 Make_Contribution
{% endblock %}
{% block content %}  

<script src="https://www.paypal.com/sdk/js?client-id=Ac49arWCa6_zpG7WtDefVWqnmbf9HSZLJmgqgq_HFpx6DbOTRCYczB75zEuzBPFNkb8filTff42_ivXf&currency=USD">
</script>
<!-- Delete -->
<div id="container">
        <div class="row">
            <div id="left-wrapper">
                <img id="profile-pic" src="">
                <div id="left-wrapper-header">
                    <h3> Do You Want To Contribute :${{ contribution_form.amount.value }}KSH</h3>
                    <h5>Amount :${{ contribution_form.amount.value }}</h5>
                </div>
                <div style="clear:left"></div>
                <hr>
                <!-- Add form here -->
                <form >
                
                 <div id="paypal-button-container"></div>
                </form>

            
            </div>
        </div>
        <br><br>
        <div class="column-12">
            <img src="">
            <br><br>
            <img src="">
        </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <script>
        var total ={{ contribution_form.amount.value|default:"0" }}

        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            style: {
                color:  'blue',
                shape:  'rect',
                label:  'pay',
                height: 40
            },


            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: total
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                      console.log('Capture result', orderData);
                      window.location.href = '{% url "group_contributions" groups.id%}';
                     //Or go to another URL:  actions.redirect('sucess.html')
                });
            }


        }).render('#paypal-button-container');
    </script>   
          
    
{% endblock %}