{% extends 'root.html' %}
{% block title%}
Members_List
{% endblock %}
{% block content %}
<section class="content">
  <div class="row">
<div class="col-xs-12">
<div class="box">

<div class="box-header with-border">
  {% if request.user == groups.Chairperson %}
  <a href="#addnew" data-toggle="modal" class="btn btn-success btn-sm btn-flat"><i
      class="fa fa-plus"></i> Add New</a>
  {% endif %}
</div>
<!-- Update the "Add New" button -->
<div class="box-header with-border">
  {% if request.user == groups.Chairperson %}
  <button type="button" class="btn btn-success btn-sm btn-flat" data-toggle="modal" data-target="#addexisting">
    <i class="fa fa-plus"></i> Add Members who registered in the platform
  </button>
  {% endif %}
</div>


<div class="box-body">
  <table id="example1" class="table table-bordered table-hover table-striped">
    <thead style="background-color: #222D32; color:white;">
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Email_Verification</th>
          <th>Phone number</th>
          {% if request.user == groups.Chairperson %}
          <th>Action</th>
          {%  endif %}
      </thead>
      <tbody>
      
    
    {% for member in members %} 
    <tr>
      <td>{{ member.user.first_name }}</td>
      <td>{{ member.user.last_name }}</td>
      <td>{{ member.user.email }}</td>
      <td>{{ member.user.is_email_verified }}</td>
      <td>{{member.user.phone}}</td>
      {% if request.user == groups.Chairperson %}
      <td>
        <button class='btn btn-danger btn-sm delete btn-flat' data-id='{{ member.id }}' data-toggle="modal" data-target="#delete">
         <i class='fa fa-trash'></i> Remove Member
        </button>

      </td>
      {% endif %}
    </tr>
    {% endfor %}      

   </tbody>
  </table>
</div>
</div>
</div>
</div>
</section>

{% endblock content %}

{% block modal %}
<div class="modal fade" id="addnew">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><b>Add New Members</b></h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" method="POST" action="{% url 'view_members' groups.id %}">
              {% csrf_token %}

             
              <div class="modal-body">
                  {% for field in user_selection_form %}
                  <div class="form-group has-feedback">
                      <span class="text-danger">{{field.errors}}</span>
                      {{field.label_tag}}
                      {{field}}
                  </div>
                  {% endfor %}

                  {% for field in user_form %}
                  <div class="form-group has-feedback">
                      <span class="text-danger">{{field.errors}}</span>
                      {{field.label_tag}}
                      {{field}}
                  </div>
                  {% endfor %}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            <button type="submit" class="btn btn-success btn-flat" name="add"><i class="fa fa-save"></i> Save</button>
          </div></form></div></div></div></div>

<!-- Delete Member Modal -->
<div class="modal fade" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title"><b>Remove Member</b></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to remove the member?</p>
                <h4 class="bold fullname"></h4>
            </div>
            <div class="modal-footer">
                <form method="post" action="{% url 'view_members' groups.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="remove_member" id="remove_member" value="">
                    <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal">
                        <i class="fa fa-close"></i> Close
                    </button>
                    <button type="submit" class="btn btn-danger btn-flat" name="delete">
                        <i class="fa fa-trash"></i> Remove Member
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Update the modal form -->
<div class="modal fade" id="addexisting">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- ... (existing modal content) ... -->
      <div class="modal-body">
        <form class="form-horizontal" method="POST" action="{% url 'add_selected_members' groups.id %}">
          {% csrf_token %}
          <div class="modal-body">

            <div class="box-body">
              <!-- Search Box -->
              <div class="form-group">
                <label for="searchMembers">Search Members:</label>
                <input type="text" class="form-control" id="searchMembers" placeholder="Enter username">
              </div>

              <!-- Display the list of users for selection using a table -->
              <table class="table table-bordered table-hover">
                <thead>
                  <th>Select</th>
                  <th>Username</th>
                </thead>
                <tbody>
                  {% for user in all_users %}
                    <tr>
                      <td>
                        <div class="form-check">
                          <input type="checkbox" class="form-check-input" id="user_{{ user.id }}" name="selected_users" value="{{ user.id }}">
                        </div>
                      </td>
                      <td>{{ user.username }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-flat pull-left" data-dismiss="modal">
              <i class="fa fa-close"></i> Close
            </button>
            <button type="submit" class="btn btn-success btn-flat" name="add_selected_members">
              <i class="fa fa-save"></i> Add Selected Members
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock modal %}





{% block custom_js %}
  
<script>
  $(function() {
      $(document).on('click', '.delete', function(e) {
          e.preventDefault();
          var id = $(this).data('id');
          // Set the member ID in the modal form
          $('#remove_member').val(id);
          // Display the modal
          $('#delete').modal('show');
      });
  });
</script>
{% endblock custom_js %}
  
