{% extends 'Main/index.html' %}
{% block content %}
  <section class="content">
    <div class="row">
      <div class="col-xs-8">
        <div class="box">
          <div class="box-header with-border">
            <h4 class="modal-title"><b>Payment Success</b></h4>
          </div>
          <div class="box-body">
            <p>Your payment was successful. Thank you!</p>
            <!-- You can include additional information or actions here if needed -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
