{% extends 'Main/index.html'%}
{% block title %}
 Set-New-Password
{% endblock %}
{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="card mt-5">


      <div class="card-body">
        <div class="card-title py-3">
          <h4>Set Your New Password</h4>
        </div>
        <form action="{% url 'reset-user-password' uidb64 token %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="password"
              name="password"
              placeholder="Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              name="password2"
              placeholder=" Confirm Password"
              class="form-control form-control-sm"
              id="passwordField"
            />
          </div>
          <input type="submit" value="submit" class="btn btn-block btn-primary submit-btn" />
        </form>

      </div>

      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock content %}